# Miscellaneous
sentinel_call/*.class
sentinel_call/*.log
sentinel_call/*.pyc
sentinel_call/*.swp
sentinel_call/.DS_Store
sentinel_call/.atom/
sentinel_call/.buildlog/
sentinel_call/.history
sentinel_call/.svn/
sentinel_call/migrate_working_dir/

# IntelliJ related
sentinel_call/*.iml
sentinel_call/*.ipr
sentinel_call/*.iws
sentinel_call/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
sentinel_call/**/doc/api/
sentinel_call/**/ios/Flutter/.last_build_id
sentinel_call/.dart_tool/
sentinel_call/.flutter-plugins
sentinel_call/.flutter-plugins-dependencies
sentinel_call/.packages
sentinel_call/.pub-cache/
sentinel_call/.pub/
sentinel_call/build/

# Symbolication related
sentinel_call/app.*.symbols

# Obfuscation related
sentinel_call/app.*.map.json

# Android Studio will place build artifacts here
sentinel_call/android/app/debug
sentinel_call/android/app/profile
sentinel_call/android/app/release

#Rust
sentinel_chain/target/
sentinel_chain/debug/
sentinel_chain/Cargo.lock
sentinel_chain/**/*.rs.bk
sentinel_chain/*.pdb

